@model PasswordGeneratorApp.Models.GeneratedPassword

@if (!string.IsNullOrEmpty(Model.Password))
{
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Generated Password</h5>
            <p id="generatedPassword" class="card-text">@Model.Password</p>
            <p>
                <strong>Strength:</strong> @Model.Strength
            </p>
            <button id="copyPassword" class="btn btn-secondary">Copy to clipboard</button>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p class="h5">There was an error generating password</p>
    </div>
}