@model PasswordGeneratorApp.Models.PasswordOptions

<h2>Generate your password</h2>

<form asp-action="GeneratePassword" asp-controller="Home" method="post" id="passwordForm" class="form-inline">
    <div class="form-group mb-2 col-3 col-md-1">
        <label for="Length" class="mr-2">Length:</label>
        <input type="number" asp-for="Length" id="Length" min="4" value="8" max="256" required class="form-control mr-2"/>
    </div>
    <div class="form-check mb-2 mr-2">
        <input type="checkbox" asp-for="IncludeLowercase" id="IncludeLowercase" class="form-check-input" checked/>
        <label class="form-check-label" for="IncludeLowercase">Include Lowercase Letters</label>
    </div>
    <div class="form-check mb-2 mr-2">
        <input type="checkbox" asp-for="IncludeUppercase" id="IncludeUppercase" class="form-check-input"/>
        <label class="form-check-label" for="IncludeUppercase">Include Uppercase Letters</label>
    </div>
    <div class="form-check mb-2 mr-2">
        <input type="checkbox" asp-for="IncludeNumbers" id="IncludeNumbers" class="form-check-input"/>
        <label class="form-check-label" for="IncludeNumbers">Include Numbers</label>
    </div>
    <div class="form-check mb-2 mr-2">
        <input type="checkbox" asp-for="IncludeSymbols" id="IncludeSymbols" class="form-check-input"/>
        <label class="form-check-label" for="IncludeSymbols">Include Symbols</label>
    </div>
    <button type="submit" id="submitBtn" class="btn btn-primary mb-2">Generate Password</button>
</form>

<div id="generatedPasswordContainer" class="mt-4" style="display: none">
    @await Html.PartialAsync("_GeneratePasswordPartial", new GeneratedPassword())
</div>

<div id="loadingPlaceholder" class="mt-4" style="display: none;">
    <div class="spinner-border" role="status"></div>
    <p>Generating password...</p>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const submitBtn = document.getElementById('submitBtn');
            const passwordForm = document.getElementById('passwordForm');
            const loadingPlaceholder = document.getElementById('loadingPlaceholder');
            const generatedPasswordContainer = document.getElementById('generatedPasswordContainer');

            function updateSubmitButtonState() {
                submitBtn.disabled = !Array.from(checkboxes).some(checkbox => checkbox.checked);
            }

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', updateSubmitButtonState);
            });

            updateSubmitButtonState();

            passwordForm.addEventListener('submit', function (event) {
                event.preventDefault();

                generatedPasswordContainer.style.display = 'none';
                setTimeout(() => {
                    if (generatedPasswordContainer.style.display !== 'block')
                    loadingPlaceholder.style.display = 'block'
                }, 100)

                const formData = new FormData(passwordForm);
                const params = new URLSearchParams(formData).toString();

                fetch('/Home/GeneratePassword', {
                    method: 'POST',
                    body: params,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(response => response.text())
                .then(data => {
                    loadingPlaceholder.style.display = 'none';
                    generatedPasswordContainer.innerHTML = data;
                    generatedPasswordContainer.style.display = 'block';
                });
            });

            document.addEventListener('click', function (event) {
                if (event.target && event.target.id === 'copyPassword') {
                    navigator.clipboard.writeText(document.getElementById('generatedPassword').textContent).then(() => {
                        alert("Password copied!");
                    });
                }
            });
        });
    </script>
}